<div class="container">
  <div class="game" @gamePhaseTrigger *ngIf="!gameOver">
    <h1>Vitesse</h1>

    <div class="counters">
      <div
        class="clock"
        [ngStyle]="{ width: (timer / 3000) * 100 + '%' }"
      ></div>

      <div class="score">{{ score }}</div>
      <div class="answered">
        <div
          @answerAddedTrigger
          class="answer"
          *ngFor="let element of answered"
          [attr.data-correct]="element"
        ></div>
      </div>
    </div>

    <div class="card" *ngIf="!gameRunning" >
      <button id="btnStartGame" (click)="startGame()">Jouer</button>
    </div>

    <div class="card" *ngIf="gameRunning" @gamePhaseTrigger>
      <div class="card-header">
        <span class="question-category">{{ currentQuestion.category }}</span>
        <span class="question-count"
          >{{ currentQuestionIndex + 1 }}</span
        >
      </div>
      <p class="question">{{ currentQuestion.question }}</p>
      <ul class="answers_list">
        <li
          class="answers_item"
          #element
          *ngFor="let option of currentQuestion.options"
          (click)="tryAnswer(option)"
        >
          {{ option }}
        </li>
      </ul>
    </div>
  </div>

  <!-- game over -->
  <div class="game-over" @gamePhaseTrigger *ngIf="gameOver">
    <span class="score">Score : {{ score }}</span>
  </div>
</div>
